body {
	background-color: #B7B7B7;
	background-attachment: fixed;
	background-size: 100% 100%;
	font-size: 35px;
	font-family: 'Caveat brush', cursive;
	direction: ltr;
}

form[name=register] {
	text-align: center;
}

.register {
	text-align: center;
	width: 50%;
	margin: auto;
}

form .input-size {
	padding: 12px;
	margin: 3px;
}

input {
	padding: 12px;
	margin: 3px
}

h1 {
	text-align: center;
	color: black;
	font-size: 50px;
    text-transform: uppercase;
    text-align: center; 
	width: 50%;
	padding: 23px;
	margin: auto;
	margin-bottom: 20px;
    text-shadow: 0px 1px 0px #f2f2f2;
	text-decoration: underline;
}

table {
	text-align: center;
	width: 100%;
}

.table-center {
	width: 50%;
	margin: auto;
}

table, th, td {
	border:1px solid black;
	border-collapse: collapse;
}

th , td {
	padding: 7px;
	height: 90px;
}

tr:hover {
	background-color: rgb( 245 255 255 / 15%);
}

form .login {
	padding-left: 10px;
	padding-right: 10px;
	height: auto;
}

td {
	position: relative;
}

.arrow::before {
	content: "";
    position: absolute;
	text-align: center;
    top: 40%;
	left: 5px;
    margin-top: -5px;
	border-style: solid;
    border-width: 15px;
    border-color: transparent #696969 transparent transparent;
}

.arrow::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 70%;
    right: 25px;
    top: 15%;
    background-color: #696969
}

legend {
	margin: 2.5px
}

.fa-regular, .far {
    font-weight: 500;
    padding: 35px;
    margin: 0px;
    border-style: solid;
	border-width: 5px;
    border-radius: 50%;
    border-color: #696969;
}

.fa-user {
	color: #696969;
	font-size: 63px;
}