/* .NAME is the name of the class of any element*/
/*if you wright padding or margin px1o only it will be padding-bottom padding-left padding-right padding-top
padding bt3ml ham4 mn ey geha Top right bottom left
*/

body {
	background-image: url("../images/bg5.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	font-size: 28px;
	font-family: 'Caveat brush', cursive;
	direction: ltr;
}

.nav {
	overflow: hidden;
	background-color: #333;
	position: absolute;
	padding: 2px;
	left: 0px;
	right: 0px;
	top: 0px;
}


.nav a {
	float: left;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
}

.a:hover , .float-right:hover {
	background-color: #25d366;
}

div a.float-right {
	float: right;
}


/*h1 {
	color: black;
    font-size: 45px;  
    text-transform: uppercase;
    text-align: center; 
	width: 50%;
	padding: 20px;
	margin: auto;
	margin-bottom: 20px;
    text-shadow: 0px 1px 0px #f2f2f2;
	text-decoration: underline;
}*/

ol {
	width: 50%;
	margin: auto;
	/*list-style-type: upper-roman;*/
	list-style-type: none;
}

ol li {
	font-weight: bold;
	font-size: 32px;
	display: inline;
}

h2 {
    font-size: 40px;
    font-variant: small-caps;
    text-align: center;
	width: 50%;
	margin: auto;
	padding: 20px;
    text-shadow: 0px 1px 0px #f2f2f2;
}
	
/*
	border-width: 2px;
	border-color: blue;
	border-style: solid;
	border: 2px solid blue;
	outline: 1px dotted white
} */

p {
	padding: 15px;
	text-align: center;
	font-size: 30px;
	/*background-color: rgb( 255 255 255 / 100%)*/
}

.imgg {
	width: 70%;
	margin: auto;
	padding: 5px;
	display: block;
}

.imgs {
	display: block;
	width: 50%;
	margin: auto;
}

fieldset {
	background-color: rgb( 0 0 0 / 15%);
	padding: 15px;
	width: 58%;
	margin: auto;
	display: block;
}
legend {
	text-align: center;
	background-color: rgb( 0 0 0 / 15%);
	padding: 5px 10px;
	border: solid 1px rgb( 0 0 0 / 15%);
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0px 1px 0px #f2f2f2;
	margin-top: 2px;
}

label {
	text-align: center;
	width: 50%;
	padding: 5px;
}

textarea {
	padding: 10px;
	width: 50%;
    display: block;
	margin: auto;
}

.Adham {
	font-weight: bold;
}

.Adham2 {
	color : black;
	font-weight: bold;
}

.about {
	color: black;
	font-weight: bold;
	text-align: center;
}

.fa-facebook , .fa-snapchat , .fa-whatsapp {
	color: whitesmoke
}

.fa-facebook {
	background-color: #3B5998;
	font-family: 'Caveat brush', cursive;
}

.fa-whatsapp {
	background-color: #25d366;
	font-family: 'Caveat brush', cursive;
}

.fa-snapchat {
	background-color: #FFFC00;
	font-family: 'Caveat brush', cursive;
}

.fa {
	padding: 15px;
    margin: 10px;
    border-radius: 8%;
	/*width: 180px;*/
	font-family: 'Caveat brush', cursive;
}

.fa-download {
	background-color: blue;
	color: whitesmoke;
	text-align: center;
	padding: 15px;
	margin: 0px;
	border-radius: 8%;
}

.fa-download:hover {
	color: cyan;
}

.btn {
	padding: 12px 30px;
	font-size: 23px;
	margin: auto;
	text-align: center;
}

.pblack {
	margin: auto;
	color: black
}

.download {
	font-weight: bold;
	color: white;
	text-align: center;
	display: block;
}

.center-after {
	text-align: center;
	padding: 10px;
	font-size: 35px;
	display: block;
}

.opinion-descripe {
	text-align: center;
}

.copyright {
	font-size: 25px;
	display: block;
	text-align: center
}

.input-size {
	padding: 8px;
	margin: 8px
}

a {
	text-decoration:  none;
	text-shadow: 0px 1px 0px white;
}

.footer {
	display: block;
	text-align: center;
	width: 50%;
	margin: auto;
}

a, span, .footer, .social-text, div, .imgg {
	font-family: 'Caveat brush', cursive;
	text-align: center;
}

.ag:checked + label {
 	color: green
}

.nb:checked + label {
	color: gold
}

.wl:checked + label {
	color: red
}